/* 
********
RESET
********
*/

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
********
COMMON
********
*/

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* 
********
TYPOGRAPHY
********
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

header .button-box button {
    font-size: 1rem;
}

footer p {
    font-size: 1.2rem;
}

/* 
********
HEADER & FOOTER
********
*/

header {
    display: flex;
    align-items: center;
    padding: 10px;
 }

header .logo {
    width: 80px;
 }

header .logo img {
    width: 100%;
    display: block;
 }

header .button-box {
    margin-left: auto;
    padding-right: 10px;
 }

header .button-box button {
    padding: 3px 38px;
    border-radius: 5px;
    border: 1px solid gray;
 }

footer {
    padding: 30px;
}

/* 
********
MAIN
********
*/

main {
    background-color: #7FFFD4;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    background-color: lightgray;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.cell {
    background-color: #7FFFD4;
    border: 1px solid black;
}

.cell-clicked {
    background-color: #003153;
}

.cell10 {
    width: calc(100% / 10);
    height: calc(100% / 10);
}